<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tổng hợp sản phẩm Làm Đẹp - Sức Khỏe tại Fahasa.com</title>
    <link type="text/css" rel="stylesheet" href="src/css/style.css">
    <link type="text/css" rel="stylesheet" href="src/css/stylemobile.css">
    <link type="text/css" rel="stylesheet" href="src/css/stylelamdep.css">
    <link rel="stylesheet" href="Font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="src/css/manageBook.css">
    <meta name="description"
        content="Tổng hợp sản phẩm Làm Đẹp - Sức Khỏe tại Fahasa.com, với ưu đãi hàng ngày lên tới 50%, giao hàng miễn phí toàn quốc chỉ từ 250k.">
    <meta name="keywords" content="sản phẩm Làm Đẹp - Sức Khỏe, SP làm Đẹp - sức khỏe, làm Đẹp - sức khỏe" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="p:domain_verify" content="cbc2e84e0738473689487ead377f46f2" />
    <meta property="fb:app_id" content="331898836987489" />
    <link rel="icon" href="https://cdn0.fahasa.com/media/favicon/default/favicon4.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://cdn0.fahasa.com/media/favicon/default/favicon4.ico" type="image/x-icon" />
</head>
<nav>
    <div class="top-bar-desktop">
        <div class="top-banner center_center">
            <a>
                <img src="src/img/tophead.jpg" alt="tophead">
            </a>
        </div>
        <div class="top-bar mouse-hover">
            <div class="top-bar-left">
                <a href="lamdep.html">
                    <div class="top-bar-logo" alt="logo"></div>
                </a>
            </div>

            <!-- <div class="top-bar-category mouse-hover">
        <span class="top-bar-category-menu"></span>
        <span class="top-bar-category-seemore"></span>
        <div class="top-bar-category-container">
          <div class="top-bar-category-container-left">
            <h1>Danh mục sản phẩm</h1>
            <a href="lamdep.html" id="lamdepsuckhoe">Fantasy</a>
            <a href="lamdep.html" id="lamdepsuckhoe">Làm đẹp - sức khoẻ</a>
            <a href="lamdep.html" id="lamdepsuckhoe">Mystery</a>
            <a href="lamdep.html" id="lamdepsuckhoe">Dystopian</a>
            <a href="lamdep.html" id="lamdepsuckhoe">Classic</a>
            <a href="lamdep.html" id="lamdepsuckhoe">Literature</a>
            <a href="lamdep.html" id="lamdepsuckhoe">Historical Fiction</a>
          </div>
          <div class="top-bar-category-container-right" id="top-bar-category-container-right">
            <div class="top-bar-category-container-right-title">
              <i class="ico_lamdepsuckhoe"></i>
              <span>Làm đẹp sức khoẻ</span>
            </div>

            <div class="top-bar-category-container-right-menu">
              <h3>LÀM ĐẸP - SỨC KHOẺ</h3>
              <a href="lamdep.html">Khẩu trang các loại</a>
              <a href="lamdep.html">Nước rửa tay - xà phòng</a>
              <a href="lamdep.html">Băng keo cá nhân</a>
              <a href="lamdep.html">Khăn giấy - giấy ướt</a>
              <a href="lamdep.html">Chăm sóc cá nhân khác</a>
              <a href="lamdep.html">Chăm sóc làm đẹp</a>
              <a href="lamdep.html" style="color: blue;">Xem tất cả</a>
            </div>
          </div>




        </div>
      </div> -->
            <div class="top-bar-search-container">
                <div class="top-bar-search">
                    <input class="search" type="search" placeholder="Tìm kiếm sản phẩm mong muốn...">
                    <span class="button"><span class="top-bar-search-icon"></span></span>

                </div>
                <div class="top-bar-search-info">
                    <div class="top-bar-search-info-headline">
                        <span class="top-bar-search-info-headline-label">Cặp sách mới - kiến thức mới</span>
                        <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Artboard_11.3.jpg"
                            data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Artboard_11.3.jpg">
                    </div>
                    <div class="tu-khoa-hot">
                        <span><img
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_searchtrending_black.svg"></span>
                        <span>Từ khoá Hot</span>
                    </div>

                    <div class="tu-khoa-hot-container">
                        <div class="tu-khoa-hot-item col-md-4">
                            <img src="src/img/search1.jpg" alt="search1">
                            <span>Muôn kiếp nhân sinh</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-4">
                            <img src="src/img/search2.jpg" alt="search2">
                            <span>Giải tích cực chill</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-4">
                            <img src="src/img/search3.jpg" alt="search3">
                            <span>Cây cam chanh của tôi</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-4">
                            <img src="src/img/search4.jpg" alt="search4">
                            <span>Thỏ tám màu</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-4">
                            <img src="src/img/search5.jpg" alt="search5">
                            <span>Bói tarot cực chuẩn</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-4">
                            <img src="src/img/search6.jpg" alt="search6">
                            <span>Sách tâm lý cực cuốn</span>
                        </div>
                    </div>
                    <div class="block_line" style="margin-top: 10px;">
                        <div></div>
                    </div>

                    <div class="tu-khoa-hot" style="margin-top: 10px;">
                        <span><img width="20px" height="20px"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu.svg"></span>
                        <span>Chuyên mục nổi bật</span>
                    </div>

                    <div class="tu-khoa-hot-container" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="tu-khoa-hot-item col-md-3">
                            <img src="src/img/search3.jpg" alt="search3">
                            <span>Cây cam chanh của tôi</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-3">
                            <img src="src/img/search4.jpg" alt="search4">
                            <span>Thỏ tám màu</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-3">
                            <img src="src/img/search5.jpg" alt="search5">
                            <span>Bói tarot cực chuẩn</span>
                        </div>
                        <div class="tu-khoa-hot-item col-md-3">
                            <img src="src/img/search6.jpg" alt="search6">
                            <span>Sách tâm lý cực cuốn</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="center_center mouse-hover top-notif ">
                <a class="top-button-icon">
                    <div class="center_center" style="margin-bottom:3px;">
                        <div class="icon_nofi_gray"></div>
                    </div>
                    <div class="center_center">
                        <div class="top_menu_label">Thông Báo</div>
                    </div>
                </a>
                <div class="top-dropdown">
                    <div class="dropdown-pad">
                        <div class="center_center" style="font-size: 1.23em; color: #0D0E0F;">
                            <span class="icon_nofi_black" style="margin-right: 5px;"></span>
                            <span>Thông báo</span>
                        </div>
                    </div>
                    <div class="center_center">
                        <span class="ico_notlogin"></span>
                    </div>
                    <div class="center_center" style="color: #0D0E0F; font-size: 1.23em; margin-top: 10px;">Vui lòng
                        đăng nhập để
                    </div>
                    <div class="center_center" style="color: #0D0E0F; padding-bottom:24px; font-size: 1.23em;">xem
                        thông báo</div>
                    <button style="margin-top: 5px;" type="button" class="button-default active">
                        <span>Đăng nhập</span>
                    </button>
                    <button style="margin-top: 10px;" type="button" class="button-default">
                        <span>Đăng ký</span>
                    </button>
                </div>
            </div>
            <div class="center_center mouse-hover cart-btn">
                <a class="top-button-icon">
                    <div class="center_center" style="margin-bottom:3px;">
                        <div class="icon_cart_gray"></div>
                    </div>
                    <div class="center_center">
                        <div class="top_menu_label">Giỏ hàng</div>
                    </div>
                </a>
                <div class="cart-items">0</div> <!--number of items-->
            </div>
            <div class="center_center mouse-hover top-account" onclick="UsershowBackdrop()">
                <a class="top-button-icon">
                    <div class="center_center" style="margin-bottom:3px;">
                        <div class="icon_account_gray"></div>
                    </div>
                    <div class="center_center">
                        <div class="top_menu_label label-manage" >Quản lý</div>
                    </div>
                </a>
                <div class="top-dropdown" style="padding: 5px 10px 15px 10px; margin-top: 60px; width: 16%">
                    <button style="margin-top: 5px;" type="button" class="button-default active">
                        <span>Đăng nhập</span>
                    </button>
                    <button style="margin-top: 5px;" type="button" class="button-default">
                        <span>Đăng ký</span>
                    </button>
                    <button style="margin-top: 5px;" type="button" class="button-facebook center_center">
                        <span class="icon_facebook"></span>
                        <span>Đăng nhập bằng Facebook</span>
                    </button>

                </div>
            </div>

            <div class="center_center top-language mouse-hover" onclick="toggleLanguage()">
                <div class="top-language-flag center_center">
                    <span class="top-language-flag-icon"></span>
                    <span class="top-language-flag-seemore"></span>
                </div>
                <div class="top-language-dropdown" style="display: none;" id="top-language-dropdown">
                    <div class="top-language-dropdown-item center_center">
                        <span class="top-language-flag-icon"></span>
                        <span class="top-language-dropdown-item-label">VN</span>
                    </div>
                    <!-- <div class="top-language-dropdown-item center_center">
            <span class="top-language-flag-icon-eng"></span>
            <span class="top-language-dropdown-item-label">EN</span>
          </div> -->

                </div>
            </div>
        </div>
    </div>
    <div class="top-bar-mobile">
        <div class="top-banner-mobile">
            <a>
                <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/fahasa-logo.png"
                    alt="FAHASA.COM">
            </a>
        </div>

        <div class="top-bar-child-mobile">
            <div class="top-bar-category-mobile mouse-hover">
                <span class="ico_menu_white"></span>
            </div>

            <div class="top-bar-search-mobile">
                <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn...">
            </div>

            <div class="top-bar-mobile-icon center_center">
                <span class="icon_cart_white"></span>
            </div>

            <div class="top-bar-mobile-icon center_center">
                <span class="login-cutomer-icon"></span>
            </div>

        </div>

    </div>

</nav>




<body>

    <div class="center_center_row">
        <div class="lamdep-firsttitle">
            <span>TRANG CHỦ</span>
            <span>></span>
            <span>DANH SÁCH SẢN PHẨM</span>
        </div>

        <div class="lamdep-container">
            <div class="lamdep-container-left">
                <div class="nhomsanpham">
                    <span>Thể loại</span>
                </div>

                <!-- <div class="filter-box">
          <h2>Giá</h2>

          <div class="option-checkbox">
            <input type="checkbox" id="gia1" name="gia1" value="gia1">
            <label for="gia1">0đ - 150.000đ</label><br>
          </div>

          <div class="option-checkbox">
            <input type="checkbox" id="gia2" name="gia2" value="gia2">
            <label for="gia2">150.000đ - 300.000đ</label><br>
          </div>

          <div class="option-checkbox">
            <input type="checkbox" id="gia3" name="gia3" value="gia3">
            <label for="gia3">300.000đ - 500.000đ</label><br>
          </div>

          <div class="option-checkbox">
            <input type="checkbox" id="gia4" name="gia4" value="gia4">
            <label for="gia4">500.000đ - 700.000đ</label><br>
          </div>

          <div class="option-checkbox">
            <input type="checkbox" id="gia5" name="gia5" value="gia5">
            <label for="gia5">700.000đ - Trở lên</label><br>
          </div>
        </div> -->

            </div>

            <div class="lamdep-container-right">

        <div class="sapxeptheo">
          <span>Sắp xếp theo: </span>
          <!-- dropdown -->
          <div class="selectbox-dropdown">
            <select name="cars" id="sortPro">
              <option value="1">Increase</option>
              <option value="-1">Decrease</option>
            </select>
            <!-- <a class="selectbox-dropdown-macdinh">Increase</a>
            <div class = "icon-arrow-down">
            </div> -->
            <!-- <div class="selectbox-dropdown-content"> -->
              <!-- <a class="selectbox-dropdown-second" >Decrease</a>  -->
            <!-- </div> -->
          </div>
          <Button class="btn add-product" onclick="showBackdrop()">Add</Button>
        </div>

                <!-- <div class="lamdepi-container">
          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh1">
              <div class="new-label-pro-sale">
                <span>25%</span>
              </div>
            </div>
            <div class="product-info">
              <span class="product-name">Khẩu trang y tế mới, nhập khẩu Việt Quốc</span>
              <span class="lamdepi-price-special">211.000</span>
              <span class="lamdepi-price-old">278.000</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 100%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>

            <div class="progress">
              <button>Delete</button>
              <button>Edit</button>
              <button class="btn add-to-cart">Add Cart</button>
              
            </div>

          </div>

          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh2">
              <div class="new-label-pro-sale">
                <span>79%</span>
              </div>
            </div>

            <div class="product-info">
              <span class="product-name">Combo túi khẩu trang y tế trắng tinh mơ</span>
              <span class="lamdepi-price-special">7.000</span>
              <span class="lamdepi-price-old">33.500</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 100%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 13%;"></div>
              <span class="progress-label">Đã bán 18</span>
            </div>
          </div>

          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh3">
              <div class="new-label-pro-sale">
                <span>78%</span>
              </div>
            </div>

            <div class="product-info">
              <span class="product-name">Túi khẩu trang y tế sale cực sốc, cực bảo vệ sức khoẻ</span>
              <span class="lamdepi-price-special">7.000</span>
              <span class="lamdepi-price-old">32.000</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 100%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 53%;"></div>
              <span class="progress-label">Đã bán 78</span>
            </div>
          </div>

          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh4">
              <div class="new-label-pro-sale">
                <span>77%</span>
              </div>
            </div>

            <div class="product-info">
              <span class="product-name">Khẩu trang y tế 3D Gold Mask 2023</span>
              <span class="lamdepi-price-special">20.000</span>
              <span class="lamdepi-price-old">88.000</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 100%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 33%;"></div>
              <span class="progress-label">Đã bán 57</span>
            </div>
          </div>

          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh5">
              <div class="new-label-pro-sale">
                <span>77%</span>
              </div>
            </div>

            <div class="product-info">
              <span class="product-name">Túi khẩu trang y tế thảo mộc thiên nhiên</span>
              <span class="lamdepi-price-special">25.000</span>
              <span class="lamdepi-price-old">110.000</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 100%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 74%;"></div>
              <span class="progress-label">Đã bán 78</span>
            </div>
          </div>


          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh1">
              <div class="new-label-pro-sale">
                <span>25%</span>
              </div>
            </div>
            <div class="product-info">
              <span class="product-name">Khẩu trang y tế cực cool 2.5D Mask</span>
              <span class="lamdepi-price-special">211.000</span>
              <span class="lamdepi-price-old">278.000</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 33%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>

            <div class="progress">
              <div class="progress-bar" style="width: 85%;"></div>
              <span class="progress-label">Đã bán 12</span>
            </div>

          </div>

          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh2">
              <div class="new-label-pro-sale">
                <span>79%</span>
              </div>
            </div>

            <div class="product-info">
              <span class="product-name">Túi chườm lạnh thảo mộc, thiết kế thân thiện trẻ nhỏ</span>
              <span class="lamdepi-price-special">7.000</span>
              <span class="lamdepi-price-old">33.500</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 0%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(0)</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 13%;"></div>
              <span class="progress-label">Đã bán 18</span>
            </div>
          </div>





          <div class="lamdepi-container-item">
            <div class="lamdepi-container-item-image">
              <img src="mockup/image-20221012114323663.jpg" alt="xh5">
              <div class="new-label-pro-sale">
                <span>77%</span>
              </div>
            </div>

            <div class="product-info">
              <span class="product-name">Gối chườm mắt thảo mộc thiên nhiên, làm từ mật ong</span>
              <span class="lamdepi-price-special">25.000</span>
              <span class="lamdepi-price-old">110.000</span>
            </div>
            <div class="ratingbox">
              <div class="rating">
                <div style="width: 100%;" class="rating-item"></div>
              </div>
              <span class="rating-count">(1)</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 74%;"></div>
              <span class="progress-label">Đã bán 78</span>
            </div>
          </div>

        </div> -->
                <main>
                    <section>
                        <div class="">
                            <div class="products" style="display: flex;">

                                <div class="container">
                                    <div class="products-center lamdepi-container" style="display: flex;">
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>

        </div>

    </div>


    <ul class="sidebar">
        <li class="sidebar-item-suggestion center_center">
            <span class=" center_center">
                <img class="icon"
                    src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/asidebar/ico_like_white.svg?q=102344">
            </span>
            <div class="tooltip_asidebar left">
                <svg class="fhs_tooltip_asidebar_bg" xmlns="http://www.w3.org/2000/svg"
                    viewBox="-8 -26.5625 168.562 26.5625">
                    <path
                        d="M 0 0 a 8 8 0 0 1 -8 -8 v -10.5625 a 8 8 0 0 1 8 -8 h 152.562 a 8 8 0 0 1 8 8 v 1.78125 l 5 4 l -5 4 v 1.78125 a 8 8 0 0 1 -8 8 Z"
                        fill="#c92127"></path>
                </svg>
                <div>
                    Gợi ý dành riêng cho bạn
                </div>
            </div>
        </li>
        <li class="sidebar-item-follow center_center">
            <span class=" center_center">
                <img class="icon"
                    src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/asidebar/ico_book_fill_white.svg?q=102344">
            </span>
            <div class="tooltip_asidebar left">
                <div>
                    <svg class="fhs_tooltip_asidebar_bg" xmlns="http://www.w3.org/2000/svg"
                        viewBox="-8 -26.5625 134.038 26.5625">
                        <path
                            d="M 0 0 a 8 8 0 0 1 -8 -8 v -10.5625 a 8 8 0 0 1 8 -8 h 118.03800000000001 a 8 8 0 0 1 8 8 v 1.78125 l 5 4 l -5 4 v 1.78125 a 8 8 0 0 1 -8 8 Z"
                            fill="#c92127"></path>
                    </svg>
                    Sách đang theo dõi
                </div>
            </div>
        </li>
    </ul>

    <!-- modal delete book -->
<section style>
  <div id="confirmation-modal" class="confirmation-modal">
      <div class="modal">
          <h2 style="text-align: center; display: block">Are you sure you want to delete this book?</h2>
          <div style="text-align: center; margin-top: 40px;">
              <button type="button" class="confirm-delete" onClick="deleteProductsBtns()">Yes, Delete</button>
              <button type="button" class="cancel-delete" onClick="cancelDelete()">Cancel</button>
          </div>

      </div>

  </div>
</section>

<!-- modal edit book -->
<section style>
  <div id="edit-backdrop" class="edit-backdrop">
      <div class="modal">
          <h2 style="text-align: center; display: block">FORM EDIT BOOK</h2>

          <form id="edit-form">
              <label for="edit-ID">ID:</label>
              <input type="number" id="edit-ID" name="edit-ID" readonly><br>

              <label for="edit-title">Title:</label>
              <input type="text" id="edit-title" name="edit-title" required><br>

              <label for="edit-description">Description:</label>
              <textarea id="edit-description" name="edit-description" required></textarea><br>

              <label for="edit-publisher">Publisher:</label>
              <input type="text" id="edit-publisher" name="edit-publisher" required><br>

              <label for="edit-author">Author:</label>
              <input type="text" id="edit-author" name="edit-author" required><br>

              <label for="edit-stock">Stock:</label>
              <input type="number" id="edit-stock" name="edit-stock" required><br>

              <label for="edit-price">Current Price:</label>
              <input type="number" id="edit-price" name="edit-price" required><br>

              <label for="edit-edition">Edition Version:</label>
              <input type="number" id="edit-edition" name="edit-edition" required><br>

              <label for="edit-category">Category ID:</label>
              <input type="number" id="edit-category" name="edit-category" required><br>

              <div style="text-align: center; margin-top: 40px;">
                  <button class="btn update-book" onClick="updateBookDetails()">Update</button>
                  <button class="btn cancel-update" onClick="hideEditBackdrop()">Cancel</button>
              </div>

          </form>

      </div>
  </div>
</section>
<script>document.getElementById("edit-backdrop").style.display = "none";</script>
<script>document.getElementById("confirmation-modal").style.display = "none";</script>
<script>document.getElementById("backdrop").style.display = "none";</script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="src/code.js"></script>
    <script type="module" src="src/app.js"></script>
    <script src="src/managebook.js"></script>
    <script src="src/manageUser.js"></script>
</body>




<!-- ========== Modal - Cart Section ========= -->
<section class="cart-modal">
    <div class="backdrop"></div>

    <div class="cart">
        <!--# cart-header #-->
        <h3 class="cart-title">Your Cart</h3>

        <!--# cart-body #-->
        <div class="cart-content">
            <!-- <div class="cart-item">

        <img
          class="cart-item-img"
          src="./images/119$-dreams-latex-pillow.jpg"
        />

        <div class="cart-item-desc">
          <h4>product title</h4>
          <h5>$ 12.99</h5>
        </div>

        <div class="cart-item-controller">
          <i class="ri-arrow-up-s-line"></i>
          <p>1</p>
          <i class="ri-arrow-down-s-line"></i>
        </div>

        <i class="ri-delete-bin-line"></i>
        
      </div> -->
        </div>

        <!--# cart-footer #-->
        <div class="cart-footer">
            <div class="">
                <span class="cart-total">Total price: $90</span>
            </div>
            <div class="">
                <button class="btn clear-cart">Clear</button>
                <button class="btn cart-item-confirm">Confirm</button>
            </div>
        </div>
    </div>
</section>


<!-- Modal add book -->
<section>
    <div id="backdrop" class="backdrop_addBook">
        <div class="modal">
            <h2 style="text-align: center; display: block">Add Book</h2>
            <form id="addBookForm">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required><br>

                <label for="descriptions">Description:</label>
                <textarea id="descriptions" name="descriptions" required></textarea><br>

                <label for="publisher">Publisher:</label>
                <input type="text" id="publisher" name="publisher" required><br>

                <label for="author">Author:</label>
                <input type="text" id="author" name="author" required><br>

                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" required><br>

                <label for="current_price">Current Price:</label>
                <input type="number" id="current_price" name="current_price" required><br>

                <label for="edition_version">Edition Version:</label>
                <input type="number" id="edition_version" name="edition_version" required><br>

                <label for="category_id">Category ID:</label>
                <input type="number" id="category_id" name="category_id" required><br>
                <div style="text-align: center;">
                    <button type="button" onclick="addBook()" class="Manage-btn">Add Book</button>
                    <button type="button" onclick="hideBackdrop()" class="Manage-btn-cancel">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</section>



<!-- modal manage user -->
<section>
  <div id="manage-user" class="backdrop-manage-user">
      <div class="modal">
          <h2 style="text-align: center; display: block">Manage Order</h2>
          <form id="manage-user-Form">
              <label for="title">User ID:</label>
              <input class="input-UserId" type="text"  name="title" required><br>
              <div style="text-align: center;">
                  <button type="button" class="Manage-user-btn">Enter</button>
                  <button type="button" onclick="UserhideBackdrop()" class="Manage-btn-cancel">Cancel</button>
              </div>

          </form>
      </div>
  </div>
</section>

<section>
    <div id="content-Order" class="content-Order">
    </div>
</section>

<section>
  <div id="content-Order-detail" class="content-Order-detail">
  </div>
</section>

</html>